<div>
  <h2>CSV Upload</h2>

  <label for="fileInput">Datei auswählen</label>
  <input
    id="fileInput"
    type="file"
    accept=".csv"
    (change)="onFileSelected($event)"
  />

  <button
    type="button"
    (click)="onUpload()"
    [disabled]="!selectedFile || status === 'uploading'"
  >
    {{ status === "uploading" ? "Wird hochgeladen..." : "Hochladen" }}
  </button>

  @if (status !== 'idle') {
  <div class="status">
    @if (status === 'selected') {
    <p>Datei ausgewählt: {{ selectedFile?.name }}</p>
    } @if (status === 'uploading') {
    <p>Datei wird hochgeladen...</p>
    } @if (status === 'success') {
    <p>
      Erfolgreich hochgeladen! @if (importedCount !== null) {
      <span> Importierte Zeilen: {{ importedCount }}</span>
      @if(uploadDuration) {
      <span> Gebrauchte Zeit: {{ uploadDuration }} Sekunden </span>
      } }
    </p>
    } @if (status === 'error') {
    <p>{{ errorMessage }}</p>
    @if(backendErrors){
    <div>
      <h3>Details der Fehler:</h3>
      <ul>
        @for (err of backendErrors; track err.line){
        <li>
          <p>
            @if(err.line){
            <span>Zeile {{ err.line }} / </span>
            }Vertragsnummer
            {{ err.contract_number }}:
            {{ err.error }}
          </p>
        </li>
        }
      </ul>
    </div>
    } }
  </div>
  }
</div>
